body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background: white;
    width: 70vw;
    margin: 20px;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

header, section {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

h4 {
    margin: 0;
    font-size: 25px;
}

.subtitle {
    margin: 5px 0 8px 0;
}

.todoItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 2px 0;
    height: 35px;
    font-size: 14px;
}

ol {
    padding-left: 5px;
    margin-left: 20px;
}

.taskCompleted {
    text-decoration: line-through;
    margin-left: 5px;
}

.remove_button {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 22px;
    padding: 4px;
    color: #bbb;
}

.fa-times:hover {
    color: #ff0000;
}

.complete_button {
    font-size: 12px;
    margin: 0 5px;
    padding: 2px 5px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid;
    background: white;
    color: #ff69b4;
    cursor: pointer;
}

.complete_button:hover {
    background: #ff5858;
    color: #eee;
}

input {
    border: solid 1px #eee;
    padding: 0 10px;
    color: #bbb;
    font-size: 18px;
    height: 40px;
    border-radius: 3px;
    margin: 3px 0;
}

#add_button {
    background: #ff1493;
    border: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    border-radius: 3px;
    margin: 3px 0;
}

#add_button:hover {
    background: #bbb;
}
