<body>
  <main>
    <header>
      <h4>TODO List</h4>
      <p class="subtitle">A place to store your to-dos</p>
      <label for="filter">Filter To Dos</label>
      <input type="text" placeholder="Filter your to-dos" name="filter" />
    </header>
    <ol>
      <li *ngFor='let todo of todoList; index as i'>
        <div class="todoItem">
          <button *ngIf="!todo.completed" class="complete_button">Complete</button>
          <p [ngClass]="{'taskCompleted':todo.completed}">{{ todo.task }}</p>
          <i class="fa fa-times remove_button" (click)="removeItem(i)"></i>
        </div>
        </li>
    </ol>
    <section>
        <label for="addToDo">Add To Do</label>
      <input type="text" placeholder="Add your to-do" name="addToDo" />
      <button id="add_button">Add</button>
    </section>
  </main>
</body>
